/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body,tr,th,td,ul,li,ol,div,span,input,select {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
	border: 0;
}

a {
	text-decoration: none;
}

ul,li {
	list-style: none;
}

select {
	color: #326A48;
}

.editnochangetd {
	background-color: #D1EEEE;
	width: 120px;
}

.editchangetd {
	azimuth: left;
}

.editinputcss {
	width: 80%;
	height: 100%;
}

.edittable {
	border: 1px;
	border-color: #fff;
}

.field {
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid
}

.field1 {
	width:100%;
	height:85%;
	overflow-x: auto;
	overflow-y: auto;
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid
}
.field2 {
	width:100%;
	height:92%;
	overflow-x: auto;
	overflow-y: auto;
	BORDER-RIGHT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;
	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-BOTTOM: #7f9db9 1px solid
}

.buttonBoxSmall {
	
}

#treep{
	   width:200px;height:100%;overflow:auto
	  } 
#change,.div{ 
	width:3px;height:100%; 
	overflow:hidden;background:#E6E6E6; 
	cursor:e-resize;border-left:1px solid #E6E6E6;border-right:1px solid #E6E6E6; 
}

.font-lg{
	font-size:24px;
}

.font-bg{
	font-size:20px;
}

.font-md{
	font-size:16px;
}

.font-sl{
	font-size:12px;
}