.clearfix:after, .clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.wb-zc-ybmod-beian-step-pc {
	font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma,
		arial, "宋体"
}

.wb-zc-ybmod-beian-step-pc .module-wrap {
	min-width: 1200px;
	padding-top: 25px;
	padding-bottom: 53px;
	background-color: #fff
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner {
	width: 1200px;
	margin: 0 auto
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner h2 {
	font-size: 24px;
	color: #404549;
	line-height: 26px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 14px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .des {
	width: 100px;
	height: 16px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: #09c2de;
	line-height: 16px;
	cursor: pointer
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .kong {
	height: 16px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .mask-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .5;
	filter: alpha(opacity = 50)
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .video-wrap {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 31;
	margin-left: -431px;
	margin-top: -254px;
	width: 862px;
	height: 458px;
	background-color: #000;
	box-shadow: 0 0 3px #312f30
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .video-wrap .inner,
	.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .video-wrap object {
	display: block;
	width: 800px;
	height: 450px;
	margin: 29px auto;
	overflow: hidden
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .video-wrap .close {
	position: absolute;
	top: 12px;
	right: 10px;
	display: block;
	width: 15px;
	height: 15px;
	background:
		url(//img.alicdn.com/tps/TB1kFB6KFXXXXbyXVXXXXXXXXXX-15-15.png)
		no-repeat;
	cursor: pointer
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul {
	width: 1200px;
	margin-top: 19px;
	margin-bottom: 15px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li {
	float: left;
	width: 240px;
	position: relative
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .pic {
	width: 35px;
	height: 35px;
	margin: 0 auto 12px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .pic .npic {
	display: block;
	width: 35px;
	height: 35px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .pic .hpic {
	display: none;
	width: 35px;
	height: 35px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .name {
	font-size: 16px;
	color: #373d41;
	text-align: center;
	line-height: 18px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .txt {
	font-size: 12px;
	color: #73777a;
	line-height: 18px;
	text-align: center
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .txt a {
	text-decoration: none;
	font-size: 12px;
	color: #73777a;
	line-height: 18px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .txt a:hover {
	color: #09c2de
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li .num {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #383d41;
	color: #fff;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: -35px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%)
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li:hover .npic {
	display: none
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li:hover .hpic {
	display: block
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner ul li:hover .num {
	background-color: #00c2de;
	box-shadow: 0 0 10px 5px rgba(0, 194, 222, .5)
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .line {
	width: 1200px;
	height: 20px;
	background:
		url(//img.alicdn.com/tps/TB1Vu0dOFXXXXXtXpXXXXXXXXXX-1-20.jpg) left
		top repeat-x
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .line .txt1 {
	display: inline-block;
	padding: 0 8px;
	background-color: #fff;
	font-size: 12px;
	color: #73777a;
	line-height: 20px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .button {
	margin-top: 18px;
	text-align: center;
	vertical-align: middle
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .button .btn1 {
	display: inline-block;
	border-right: 1px #73777A solid;
	padding-right: 21px;
	margin-right: 21px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .button .btn1 a {
	font-size: 14px;
	color: #73777A;
	line-height: 16px;
	text-decoration: none
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .button .btn1 a:hover {
	text-decoration: none;
	color: #09c2de
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .button .btn2 {
	display: inline-block
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .button .btn2 a {
	font-size: 14px;
	color: #73777A;
	line-height: 16px;
	text-decoration: none
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .button .btn2 a:hover {
	text-decoration: none;
	color: #09c2de
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .btn3 {
	width: 160px;
	height: 40px;
	margin: 16px auto 0;
	background-color: #00c1de;
	text-align: center;
	transition: .3s all
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .btn3 a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	line-height: 40px
}

.wb-zc-ybmod-beian-step-pc .module-wrap .sinner .btn3:hover {
	background-color: #0ecce7
}

.clearfix:after, .clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.wb-zc-ybmod-beian-pro-pc {
	font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma,
		arial, "宋体"
}

.wb-zc-ybmod-beian-pro-pc .module-wrap {
	min-width: 1200px;
	background-color: #fafafa;
	padding-top: 36px;
	padding-bottom: 28px
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner {
	width: 1200px;
	margin: 0 auto
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner h2 {
	font-size: 24px;
	color: #404549;
	line-height: 40px;
	text-align: center;
	font-weight: 400
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner p {
	text-align: center;
	margin-bottom: 19px
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner p a {
	font-size: 14px;
	color: #09c2de;
	line-height: 32px;
	text-decoration: none
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner p a:hover {
	text-decoration: none
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con {
	float: left;
	width: 245px;
	margin-right: 73px
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con h3 {
	font-weight: 400;
	font-size: 18px;
	color: #3f4448;
	line-height: 47px;
	border-bottom: 1px #eaeaea solid;
	padding-left: 14px;
	margin-bottom: 12px
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con ul li {
	height: 30px;
	overflow: hidden
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con ul li a {
	font-size: 14px;
	color: #44494d;
	line-height: 30px;
	text-decoration: none
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con ul li a:hover {
	text-decoration: none
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con ul li:hover a {
	color: #09c2de
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con .button {
	padding-left: 14px
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con .button a {
	font-size: 14px;
	color: #09c2de;
	line-height: 30px;
	text-decoration: none
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .con .button a:hover
	{
	text-decoration: none
}

.wb-zc-ybmod-beian-pro-pc .module-wrap .pinner .pro .lastcon {
	margin-right: 0
}

.wb-zc-beian-guize .module-wrap .leftnav-contaier {
	float: left;
	margin-right: 0
}

.wb-zc-beian-guize .module-wrap .rightnav-container {
	float: left
}

.wb-zc-beian-guize .module-wrap .content-container {
	float: left;
	background: #fff
}

.wb-zc-beian-guize .module-wrap .beian-main {
	background: #fff;
	width: 1200px;
	padding-top: 76px;
	padding-bottom: 0;
	min-height: 800px
}

.wb-zc-beian-guize .module-wrap .beian-main .map-container {
	width: 705px;
	float: left;
	margin-right: 50px;
	position: relative
}

.wb-zc-beian-guize .module-wrap .beian-main .map-container .map_title {
	position: absolute;
	left: 19px;
	top: 15px;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	color: #73777A;
	width: 686px;
	overflow: hidden
}

.wb-zc-beian-guize .module-wrap .beian-main .map-container .map_title span
	{
	padding-right: 5px;
	color: #ff8a00;
	font-size: 16px
}

.wb-zc-beian-guize .module-wrap .beian-main .beian-list {
	margin-top: 38px;
	padding-bottom: 25px
}

.wb-zc-beian-guize .module-wrap .beian-main .block-list {
	line-height: 28px;
	list-style-type: disc;
	padding-left: 20px;
	font-size: 14px
}

.wb-zc-beian-guize .module-wrap .beian-main .block-list li {
	color: #00a1cb
}

.wb-zc-beian-guize .module-wrap .beian-main .block-list li .title {
	color: #000;
	font-size: 14px
}

.wb-zc-beian-guize .module-wrap .beian-main .block-list li .small {
	color: #000;
	font-size: 12px
}

.wb-zc-beian-guize .module-wrap .beian-main .rule-content {
	float: left;
	width: 445px
}

.wb-zc-beian-guize .module-wrap .beian-main .rule-content .rule-tab .y-current .y-item
	{
	border: 1px solid #00c2de;
	padding: 0 23px
}

.wb-zc-beian-guize .module-wrap .beian-main .rule-content .rule-tab .y-item
	{
	padding: 0 23px
}

.wb-zc-beian-guize .module-wrap .rules-container h3 {
	font-size: 18px
}

.wb-zc-beian-guize .module-wrap .rules-container .list-rules,
	.wb-zc-beian-guize .module-wrap .rules-container .y-tab {
	margin-top: 20px
}

.wb-zc-beian-guize .module-wrap .rules-container .block-list-rules {
	line-height: 28px;
	list-style-type: decimal;
	padding-left: 20px;
	font-size: 12px;
	color: #898989;
	margin-bottom: 10px
}

.wb-zc-beian-guize .module-wrap .rules-container .block-list-rules a,
	.wb-zc-beian-guize .module-wrap .rules-container .block-list-rules a:hover
	{
	text-decoration: none
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .button .biubiu:hover,
	.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .button .xiuxiu:hover {
	text-decoration: none
}

.clearfix:after, .clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.wb-zc-ybmod-beian-pic-pc {
	font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma,
		arial, "宋体"
}

.wb-zc-ybmod-beian-pic-pc .module-wrap {
	min-width: 1200px;
	background-color: #3674f3
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic {
	height: 191px;
	padding-top: 29px
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .title {
	height: 38px;
	font-size: 36px;
	color: #feffd3;
	line-height: 38px;
	text-align: center;
	margin-bottom: 16px
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .title:before {
	content: '';
	background:
		url(//img.alicdn.com/tps/TB1jiALOpXXXXc8XVXXXXXXXXXX-36-38.png) center
		left no-repeat;
	background-size: 36px 38px;
	padding-left: 48px
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic p {
	font-size: 18px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	margin-bottom: 17px
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic p i {
	font-style: normal;
	font-size: 16px
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .button .biubiu,
	.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .button .xiuxiu {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
	cursor: pointer
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .button {
	vertical-align: middle;
	text-align: center
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .pic .button .biubiu {
	margin-left: 38px
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .mask-bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 40;
	display: none
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .box-pop {
	width: 850px;
	height: 450px;
	border: 2px solid #8D8B8B;
	background: #FFF;
	padding: 25px;
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -250px;
	z-index: 50
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .box-pop .box-hd {
	border-bottom: 2px solid #F4F4F4;
	padding-bottom: 10px;
	position: relative
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .box-pop .box-hd h3 {
	font-size: 18px;
	line-height: 22px;
	color: #333
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .box-pop .box-hd .close {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 0;
	top: 5px;
	background:
		url(//gtms03.alicdn.com/tps/i3/TB1xjA_FVXXXXbkaXXXZBWn.VXX-12-12.png)
		4px 4px no-repeat;
	cursor: pointer
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .box-pop .box-bd {
	padding: 20px 0;
	line-height: 24px;
	color: #333;
	height: 380px;
	overflow-y: auto;
	overflow-x: hidden
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .box-pop .box-bd p {
	font-size: 12px;
	line-height: 22px;
	width: 810px
}

.wb-zc-ybmod-beian-pic-pc .module-wrap .window1,
	.wb-zc-ybmod-beian-pic-pc .module-wrap .window2 {
	display: none
}

.clearfix:after, .clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.wb-zc-ybmod-beian-foot-pc {
	font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma,
		arial, "宋体"
}

.wb-zc-ybmod-beian-foot-pc .module-wrap {
	min-width: 1200px;
	padding-bottom: 42px;
	background-color: #fafafa
}

.wb-zc-ybmod-beian-foot-pc .module-wrap .einner {
	width: 1200px;
	padding-top: 31px;
	margin: 0 auto
}

.wb-zc-ybmod-beian-foot-pc .module-wrap .einner h2 {
	font-size: 24px;
	color: #404549;
	line-height: 26px;
	margin-bottom: 51px;
	text-align: center;
	font-weight: 400
}

.wb-zc-ybmod-beian-foot-pc .module-wrap .einner ul li {
	float: left;
	width: 400px;
	text-align: left
}

.wb-zc-ybmod-beian-foot-pc .module-wrap .einner ul li a {
	font-size: 14px;
	color: #535558;
	line-height: 30px
}

.wb-zc-ybmod-beian-foot-pc .module-wrap .einner ul li a:hover {
	text-decoration: none
}

.wb-zc-ybmod-beian-foot-pc .module-wrap .einner ul li span {
	color: #767a7d;
	margin-right: 11px
}

.wb-zc-ybmod-beian-foot-pc .module-wrap .einner ul li:hover a {
	color: #09c2de
}

.clearfix:after, .clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.wb-zc-ybmod-beian-nav-pc {
	font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma,
		arial, "宋体"
}

.wb-zc-ybmod-beian-nav-pc .module-wrap {
	min-width: 1200px
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 68px;
	background-color: #fff;
	border-top: 1px #eaeaea solid;
	border-bottom: 1px #eaeaea solid;
	z-index: 20
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap .nav-box {
	width: 1227px;
	height: 68px;
	margin: 0 auto;
	padding-left: 173px;
	background:
		url(//img.alicdn.com/tps/TB1fRs8OpXXXXcoXpXXXXXXXXXX-173-68.jpg) left
		top no-repeat;
	position: relative
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap .nav-box ul {
	height: 68px;
	overflow: hidden
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap .nav-box ul li {
	float: left;
	width: 152px;
	text-align: center
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap .nav-box ul li a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #000;
	line-height: 68px
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap .nav-box .button {
	width: 160px;
	height: 40px;
	margin-top: 26px;
	background-color: #00c2de;
	text-align: center;
	transition: .3s all;
	position: absolute;
	right: 80px;
	top: -12px
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap .nav-box .button a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	line-height: 40px
}

.wb-zc-ybmod-beian-nav-pc .module-wrap .nav-wrap .nav-box .button:hover
	{
	background-color: #0ecce7
}